// [ FAKE GROUP ]
group Build
    source https://api.nuget.org/v3/index.json
    nuget CommandLineParser.FSharp
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.IO.Zip
    nuget Fake.DotNet.Paket
    nuget Fake.DotNet.MSBuild
    nuget Fake.DotNet.NuGet
    nuget Fake.Core.CommandLineParsing
    nuget Nuget.CommandLine
