type file
id Ufal.UDPipe.CSharp.Unofficial
version 1.0.4
authors IvanAntipov
projectUrl https://github.com/IvanAntipov/Ufal.UDPipe.CSharp.Unofficial
licenseUrl https://github.com/IvanAntipov/Ufal.UDPipe.CSharp.Unofficial/blob/master/LICENSE
repositoryUrl https://github.com/IvanAntipov/Ufal.UDPipe.CSharp.Unofficial

description
  Nuget build for UDPipe CSharp.

files
  .tmp/* ==> lib
  ../Bindings/runtimes/**/* ==> runtimes
  build/Ufal.UDPipe.CSharp.Unofficial.props ==> build